<robot
  name="neurofull">
  <link 
    name="base_footprint">
    <visual>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
       <box size="0.05 0.05 0.001"/>
    </geometry>
    <material name="TransparentGreen"/>
    </visual>
  </link>
  <link
    name="base_leg">
    <inertial>
      <origin
        xyz="0 0 0.0344645056443236"
        rpy="0 0 0" />
      <mass
        value="4.96180110119092" />
      <inertia
        ixx="0.260181029472697"
        ixy="-1.8355788022317E-06"
        ixz="-0.00155137956745712"
        iyy="0.263728282272559"
        iyz="1.00993985627843E-07"
        izz="0.488283544882969" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://neurofull/meshes/base_leg.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://neurofull/meshes/base_leg.stl" />
      </geometry>
    </collision>
  </link>

  <joint name="joint_footprint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="base_footprint"/>
    <child link="base_leg"/>
  </joint>


  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00763079814674683 -0.000785897750140402 0.497022585106364"
        rpy="0 0 0" />
      <mass
        value="2.64772097817827" />
      <inertia
        ixx="0.355578054616091"
        ixy="0.00054044346883383"
        ixz="0.00826972267071127"
        iyy="0.354512666156879"
        iyz="-0.00128012471195156"
        izz="0.0346040156500564" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://neurofull/meshes/base_link.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://neurofull/meshes/base_link.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_link_joint"
    type="fixed">
    <origin
      xyz="0 0 0.423"
      rpy="0 0 0" />
    <parent
      link="base_leg" />
    <child
      link="base_link" />
    <axis
      xyz="0 0 0" />
  </joint>

  <link
    name="left_arm_link0">
  </link>
  <joint
    name="left_arm_joint0"
    type="fixed">
    <origin
      xyz="0 0.146 0.917"
      rpy="-1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_arm_link0" />
    <axis
      xyz="0 0 0" />
  </joint>




  <link
    name="left_arm_link1">
    <inertial>
      <origin
        xyz="0 0 0.0472461416838423"
        rpy="0 0 0" />
      <mass
        value="0.139895412046326" />
      <inertia
        ixx="0.000291527799787079"
        ixy="7.02048677679412E-07"
        ixz="-1.54733263205051E-05"
        iyy="0.000240969210302021"
        iyz="-2.14818780078269E-07"
        izz="0.000151629908718559" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://neurofull/meshes/left_arm_link1.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://neurofull/meshes/left_arm_link1.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm_joint1"
    type="revolute">
    <origin
      xyz="0 0 0.001"
      rpy="0 0 0" />
    <parent
      link="left_arm_link0" />
    <child
      link="left_arm_link1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2.2"
      upper="2.2"
      effort="2"
      velocity="1" />
  </joint>
  <link
    name="left_arm_link2">
    <inertial>
      <origin
        xyz="0.0747629358729344 0 0"
        rpy="0 0 0" />
      <mass
        value="0.222706771538381" />
      <inertia
        ixx="0.000221293565894878"
        ixy="9.64715999128791E-08"
        ixz="1.17177262431235E-05"
        iyy="0.00108680182339941"
        iyz="7.3745697887011E-10"
        izz="0.00105620684573982" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://neurofull/meshes/left_arm_link2.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://neurofull/meshes/left_arm_link2.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm_joint2"
    type="revolute">
    <origin
      xyz="-0.0039996 0 0.084"
      rpy="1.5708 0 1.5708" />
    <parent
      link="left_arm_link1" />
    <child
      link="left_arm_link2" />
    <axis
      xyz="-0.00059831 0 -1" />
    <limit
      lower="-0.78"
      upper="0.78"
      effort="2"
      velocity="1" />
  </joint>
  <link
    name="left_arm_link3">
    <inertial>
      <origin
        xyz="0 0 0.0252980249667199"
        rpy="0 0 0" />
      <mass
        value="0.078971511055653" />
      <inertia
        ixx="7.19666232277633E-05"
        ixy="-2.29834747206398E-21"
        ixz="-1.68863370887188E-05"
        iyy="0.000116283270534729"
        iyz="5.15631306641055E-20"
        izz="0.000104168336512131" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0.0252980249667199"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://neurofull/meshes/left_arm_link3.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0.00392156862745098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0.0252980249667199"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://neurofull/meshes/left_arm_link3.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm_joint3"
    type="revolute">
    <origin
      xyz="0.20512 0 0"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="left_arm_link2" />
    <child
      link="left_arm_link3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="2"
      velocity="1" />
  </joint>
  <link
    name="left_arm_link4">
    <inertial>
      <origin
        xyz="0.11 0 0"
        rpy="0 1.5708 0" />
      <mass
        value="0.163592437075005" />
      <inertia
        ixx="9.18715474899927E-05"
        ixy="1.14360963815123E-05"
        ixz="-1.44049786151869E-05"
        iyy="0.000940484151135754"
        iyz="1.90547978307357E-07"
        izz="0.000935522761640683" />
    </inertial>
    <visual>
      <origin
        xyz="0.11 0 0"
        rpy="0 1.5708 0" />
      <geometry>
        <mesh
          filename="package://neurofull/meshes/left_arm_link4.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.11 0 0"
        rpy="0 1.5708 0" />
      <geometry>
        <mesh
          filename="package://neurofull/meshes/left_arm_link4.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm_joint4"
    type="revolute">
    <origin
      xyz="0 0 0.05"
      rpy="1.5708 -1.5708 1.5708" />
    <parent
      link="left_arm_link3" />
    <child
      link="left_arm_link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.2"
      upper="2.2"
      effort="2"
      velocity="1" />
  </joint>
  <link
    name="left_arm_link5">
    <inertial>
      <origin
        xyz="0 0 0.034"
        rpy="0 0 0" />
      <mass
        value="0.0975990294014391" />
      <inertia
        ixx="9.17613388444776E-05"
        ixy="1.93938108659678E-06"
        ixz="-2.18069280623664E-05"
        iyy="0.000145599253848535"
        iyz="3.27545465049375E-06"
        izz="0.000109308596470807" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0.034"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://neurofull/meshes/left_arm_link5.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.666666666666667 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0.034"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://neurofull/meshes/left_arm_link5.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm_joint5"
    type="revolute">
    <origin
      xyz="0.228 0 0"
      rpy="3.14 -1.5708 0" />
    <parent
      link="left_arm_link4" />
    <child
      link="left_arm_link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="2"
      velocity="1" />
  </joint>
  <link
    name="left_arm_link6">
    <inertial>
      <origin
        xyz="0.025 0 0"
        rpy="0 0 0" />
      <mass
        value="0.0342933650278285" />
      <inertia
        ixx="2.81251487192025E-05"
        ixy="-9.52330011495129E-08"
        ixz="8.00630003676371E-09"
        iyy="2.12668689963334E-05"
        iyz="5.76691167452361E-07"
        izz="2.57654425067355E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0.025 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://neurofull/meshes/left_arm_link6.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.025 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://neurofull/meshes/left_arm_link6.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm_joint6"
    type="revolute">
    <origin
      xyz="0 0 0.055"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="left_arm_link5" />
    <child
      link="left_arm_link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.2"
      upper="2.2"
      effort="2"
      velocity="1" />
  </joint>
  <link
    name="left_gripper_frame">
  </link>
  <joint
    name="left_arm_joint7"
    type="fixed">
    <origin
      xyz="0.09 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="left_arm_link6" />
    <child
      link="left_gripper_frame" />
  </joint>
  <link
    name="left_finger_l">
    <inertial>
      <origin
        xyz="0 -0.0475 0"
        rpy="1.57 0 0" />
      <mass
        value="0.0004954649646829" />
      <inertia
        ixx="1.28718097526934E-07"
        ixy="-4.95287937680829E-22"
        ixz="4.25264237478257E-23"
        iyy="1.27301609789733E-07"
        iyz="6.66607407315439E-23"
        izz="4.01590299797697E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 -0.0475 0"
        rpy="1.57 0 0" />
      <geometry>
        <cylinder length="0.095" radius="0.005" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.5 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 -0.0475 0"
        rpy="1.57 0 0" />
      <geometry>
        <cylinder length="0.0095" radius="0.005" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_joint_gripper_l"
    type="prismatic">
    <origin
      xyz="0 -0.05 -0.045"
      rpy="0 1.57 0" />
    <parent
      link="left_arm_link6" />
    <child
      link="left_finger_l" />
    <axis
      xyz="1 0 0" />
    <limit
      effort="1" 
      lower="-0.11" 
      upper="-0.04" 
      velocity="1.0"/>
  </joint>
  <link
    name="left_finger_r">
    <inertial>
      <origin
        xyz="0 -0.0475 0"
        rpy="1.57 0 0" />
      <mass
        value="0.0004954649646829" />
      <inertia
        ixx="1.28718097526934E-07"
        ixy="-4.95287937680829E-22"
        ixz="4.25264237478257E-23"
        iyy="1.27301609789733E-07"
        iyz="6.66607407315439E-23"
        izz="4.01590299797697E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 -0.0475 0"
        rpy="1.57 0 0" />
      <geometry>
        <cylinder length="0.095" radius="0.005" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.5 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 -0.0475 0"
        rpy="1.57 0 0" />
      <geometry>
        <cylinder length="0.0095" radius="0.005" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_joint_gripper_r"
    type="prismatic">
    <origin
      xyz="0 -0.05 0.045"
      rpy="0 1.57 0" />
    <parent
      link="left_arm_link6" />
    <child
      link="left_finger_r" />
    <axis
      xyz="1 0 0" />
    <limit
      effort="1" 
      lower="-0.11" 
      upper="-0.04" 
      velocity="1.0"/>
  </joint>
  <link
    name="right_arm_link0">
  </link>
  <joint
    name="right_arm_joint0"
    type="fixed">
    <origin
      xyz="0 -0.146 0.917"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_arm_link0" />
    <axis
      xyz="0 0 0" />
  </joint>

  <link
    name="right_arm_link1">
    <inertial>
      <origin
        xyz="0.00300967116680029 -1.80070211996952E-06 0.0472461416840107"
        rpy="0 0 0" />
      <mass
        value="0.139895412046325" />
      <inertia
        ixx="0.000291537528341602"
        ixy="-3.02611226515367E-08"
        ixz="-1.54748146614687E-05"
        iyy="0.000240959481748641"
        iyz="9.25866316314585E-09"
        izz="0.000151629908718559" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://neurofull/meshes/right_arm_link1.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://neurofull/meshes/right_arm_link1.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm_joint1"
    type="revolute">
    <origin
      xyz="0 0 0.001"
      rpy="0 0 0" />
    <parent
      link="right_arm_link0" />
    <child
      link="right_arm_link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="2"
      velocity="1" />
  </joint>
  <link
    name="right_arm_link2">
    <inertial>
      <origin
        xyz="0.0746661079181091 -4.29495033152372E-06 0.00778523531588626"
        rpy="0 0 0" />
      <mass
        value="0.222706771537626" />
      <inertia
        ixx="0.000221129610017924"
        ixy="9.6453292163997E-08"
        ixz="6.23932395302156E-07"
        iyy="0.00108680182343279"
        iyz="2.01887974864766E-09"
        izz="0.00105637080165108" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://neurofull/meshes/right_arm_link2.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://neurofull/meshes/right_arm_link2.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm_joint2"
    type="revolute">
    <origin
      xyz="-0.004 0 0.084"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="right_arm_link1" />
    <child
      link="right_arm_link2" />
    <axis
      xyz="-0.00059831 0 -1" />
    <limit
      lower="-0.78"
      upper="0.78"
      effort="2"
      velocity="1" />
  </joint>
  <link
    name="right_arm_link3">
    <inertial>
      <origin
        xyz="0.0153020226123045 -4.44089209850063E-16 0.0252980249667199"
        rpy="0 0 0" />
      <mass
        value="0.0789715110556525" />
      <inertia
        ixx="7.1966623227763E-05"
        ixy="9.12970822603372E-19"
        ixz="-1.68863370887186E-05"
        iyy="0.000116283270534728"
        iyz="2.77416525115584E-19"
        izz="0.000104168336512131" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://neurofull/meshes/right_arm_link3.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0.00392156862745098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://neurofull/meshes/right_arm_link3.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm_joint3"
    type="revolute">
    <origin
      xyz="0.20501 0 0.0098773"
      rpy="1.5714 8.5249E-17 1.5708" />
    <parent
      link="right_arm_link2" />
    <child
      link="right_arm_link3" />
    <axis
      xyz="0 0.013284 -0.99991" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="2"
      velocity="1" />
  </joint>
  <link
    name="right_arm_link4">
    <inertial>
      <origin
        xyz="0.110286393193599 9.07633075035719E-05 -0.00524029088871542"
        rpy="0 0 0" />
      <mass
        value="0.163592437071327" />
      <inertia
        ixx="9.1718321663276E-05"
        ixy="-8.5538514906755E-07"
        ixz="-1.44062275602948E-05"
        iyy="0.000940637376901673"
        iyz="-1.80574628596523E-08"
        izz="0.000935522761578219" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://neurofull/meshes/right_arm_link4.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://neurofull/meshes/right_arm_link4.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm_joint4"
    type="revolute">
    <origin
      xyz="0.0005 0 0.05"
      rpy="1.5708 -1.5702 1.5708" />
    <parent
      link="right_arm_link3" />
    <child
      link="right_arm_link4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="2"
      velocity="1" />
  </joint>
  <link
    name="right_arm_link5">
    <inertial>
      <origin
        xyz="-0.0172107616415194 -2.06427685620625E-05 -0.0345020670877002"
        rpy="0 0 0" />
      <mass
        value="0.0975990294014401" />
      <inertia
        ixx="9.17613388444844E-05"
        ixy="-2.60974087719177E-08"
        ixz="-2.18929812826313E-05"
        iyy="0.000145892500744109"
        iyz="-2.2063801782706E-08"
        izz="0.000109015349575228" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://neurofull/meshes/right_arm_link5.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.666666666666667 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://neurofull/meshes/right_arm_link5.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm_joint5"
    type="revolute">
    <origin
      xyz="0.228 0.00013641 -0.0029121"
      rpy="3.1416 1.5708 0" />
    <parent
      link="right_arm_link4" />
    <child
      link="right_arm_link5" />
    <axis
      xyz="0 0.013882 0.9999" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="2"
      velocity="1" />
  </joint>
  <link
    name="right_arm_link6">
    <inertial>
      <origin
        xyz="-1.72111302869649E-05 -0.02876646947993 -0.000345123561374117"
        rpy="0 0 0" />
      <mass
        value="0.0342933650278285" />
      <inertia
        ixx="2.81264683989044E-05"
        ixy="-4.10492551289922E-09"
        ixz="-3.45070552990902E-10"
        iyy="2.12655493166313E-05"
        iyz="-5.76746637947283E-07"
        izz="2.57654425067357E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://neurofull/meshes/right_arm_link6.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://neurofull/meshes/right_arm_link6.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm_joint6"
    type="revolute">
    <origin
      xyz="0.001 -3.2907E-05 -0.055"
      rpy="1.5708 0 1.5708" />
    <parent
      link="right_arm_link5" />
    <child
      link="right_arm_link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="2"
      velocity="1" />
  </joint>
  <link
    name="right_gripper_frame">
  </link>
  <joint
    name="right_arm_joint7"
    type="fixed">
    <origin
      xyz="0 -0.09 0"
      rpy="-1.57 0 -1.57" />
    <parent
      link="right_arm_link6" />
    <child
      link="right_gripper_frame" />
  </joint>
  <link
    name="right_finger_l">
    <inertial>
      <origin
        xyz="0 -0.0475 0"
        rpy="1.57 0 0" />
      <mass
        value="0.0004954649646829" />
      <inertia
        ixx="1.28718097526934E-07"
        ixy="-4.95287937680829E-22"
        ixz="4.25264237478257E-23"
        iyy="1.27301609789733E-07"
        iyz="6.66607407315439E-23"
        izz="4.01590299797697E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 -0.0475 0"
        rpy="1.57 0 0" />
      <geometry>
        <cylinder length="0.095" radius="0.005" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.5 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 -0.0475 0"
        rpy="1.57 0 0" />
      <geometry>
        <cylinder length="0.0095" radius="0.005" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_joint_gripper_l"
    type="prismatic">
    <origin
      xyz="0 -0.05 -0.045"
      rpy="0 1.57 0" />
    <parent
      link="right_arm_link6" />
    <child
      link="right_finger_l" />
    <axis
      xyz="1 0 0" />
    <limit
      effort="1" 
      lower="-0.11" 
      upper="-0.04" 
      velocity="1.0"/>
  </joint>
  <link
    name="right_finger_r">
    <inertial>
      <origin
        xyz="0 -0.0475 0"
        rpy="1.57 0 0" />
      <mass
        value="0.0004954649646829" />
      <inertia
        ixx="1.28718097526934E-07"
        ixy="-4.95287937680829E-22"
        ixz="4.25264237478257E-23"
        iyy="1.27301609789733E-07"
        iyz="6.66607407315439E-23"
        izz="4.01590299797697E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 -0.0475 0"
        rpy="1.57 0 0" />
      <geometry>
        <cylinder length="0.095" radius="0.005" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.5 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 -0.0475 0"
        rpy="1.57 0 0" />
      <geometry>
        <cylinder length="0.0095" radius="0.005" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_joint_gripper_r"
    type="prismatic">
    <origin
      xyz="0 -0.05 0.045"
      rpy="0 1.57 0" />
    <parent
      link="right_arm_link6" />
    <child
      link="right_finger_r" />
    <axis
      xyz="1 0 0" />
    <limit
      effort="1" 
      lower="-0.11" 
      upper="-0.04" 
      velocity="1.0"/>
  </joint>
</robot>
