<launch>
  <include file="$(find neurofull)/launch/neurofull.launch"/>
    <param name="/sim" value="true"/>
  <include file="$(find neurofull_moveit_config)/launch/move_group.launch"/>
  <node name="rviz"  pkg="rviz" type="rviz" args="$(find neurofull_moveit_config)/config/moveit.rviz"/>
  <node name="left_arm_trajectory_pub" pkg="neuro_bridge" type="left_arm_trajectory_pub" args="$(find neuro_bridge/src/left_arm.cpp"/>
  <node name="right_arm_trajectory_pub" pkg="neuro_bridge" type="right_arm_trajectory_pub" args="$(find neuro_bridge/src/right_arm_trajectory_pub.cpp"/>
  <!--node name="both_arm_pos_pub" pkg="neuro_bridge" type="both_arm_pos_pub" args="$(find neuro_bridge/src/both_arm.cpp"/-->
  <node name="left_gripper_trajectory_pub" pkg="neuro_bridge" type="left_gripper_trajectory_pub" args="$(find neuro_bridge/src/left_gripper_trajectory_pub.cpp"/>
</launch>
