<?xml version="1.0"?>

<launch>

  <node name="ttyUSB0" pkg="rosserial_python" type="serial_node.py"  >
    <param name="port" value="/dev/ttyUSB0"/>
  </node>

  <node name="ttyUSB1" pkg="rosserial_python" type="serial_node.py"  >
    <param name="port" value="/dev/ttyUSB1"/>
  </node>

  <node name="ttyUSB2" pkg="rosserial_python" type="serial_node.py"  >
    <param name="port" value="/dev/ttyUSB2"/>
  </node>

</launch>
